<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Shop Betty
                    </a>
                </li>
                <li>
                    <a href="#">Our Story</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#">Social</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
<br>
<br>
<center><a href="http://tinypic.com?ref=2cgf0xj" target="_blank"><img src="http://i63.tinypic.com/2cgf0xj.png" border="0" alt="Image and video hosting by TinyPic"></a></center>

<br>
<br>
<br>
<br>
<br>
<br>
 <img style="float: left; margin: 20px 75px 15px 125px;" src="http://i63.tinypic.com/30b1a54.jpg" />

 <h2>'The Sculpting' Powder</h2>
 <h3>$44</h3>
<br>
<br>
 <a href="http://tinypic.com?ref=ouoyo2" target="_blank"><img src="http://i67.tinypic.com/ouoyo2.jpg" border="0" alt="Image and video hosting by TinyPic"></a>
<br>
<a href="http://tinypic.com?ref=2ezhbmp" target="_blank"><img src="http://i65.tinypic.com/2ezhbmp.png" border="0" alt="Image and video hosting by TinyPic"></a>


