<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Shop Betty
                    </a>
                </li>
                <li>
                    <a href="#">Our Story</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#">Social</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
<br>
<br>
<center><a href="http://tinypic.com?ref=2cgf0xj" target="_blank"><img src="http://i63.tinypic.com/2cgf0xj.png" border="0" alt="Image and video hosting by TinyPic"></a></center>









<form method="post" action="#">
  <div class="group">
    <div class="left">
      First Name
      <input type="text" value="" placeholder="" name="name" tabindex="1" class="redacted" />
    </div>
    <div class="right">
      Last Name
      <input type="text" value="" placeholder="" name="subject" tabindex="2" class="redacted" />
    </div>
  </div>
  <div class="group">
    <div class="left">
      Email
      <input type="text" value="" placeholder="" name="email" tabindex="3" class="redacted" />
    </div>
    <div class="right">
      My Question
      <input type="text" value="" placeholder="" name="phone" tabindex="4" class="redacted" />
    </div>
  </div>
  <div>
    Contact
    <textarea placeholder="" name="message" tabindex="5" rows="10" class="redacted"></textarea>
  </div>
  <br>
  <div>
    <input type="button" value="Send Mail" tabindex="6" class="redacted" />
  </div>
</form>
